/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;
/*
* {
-webkit-transform: translatez(0);
-moz-transform: translatez(0);
-ms-transform: translatez(0);
-o-transform: translatez(0);
transform: translatez(0);
}
*/

/* Styles */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

//Window sizing
.app, .root {
  height:100%;
}

html {
  background: #E0E0E0; //MD
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

//sized via javascript
svg{
  //border: solid blue 1px;
  overflow: auto;
  touch-action: none
}

foreignObject{
  //position: relative;
  //width: 100px;
  //height:100px;
}

td {
  padding: 12px;
}

.ContentText {
  font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
  pointer-events: none;
  touch-action: none;
}

.NonContentText {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  pointer-events: none;
  font-weight: 500;
  text-anchor: middle;
  touch-action: none;
}

line {
  pointer-events: none;
}

path{
  fill:none;
}

.node{
  stroke:black;
  stroke-width:1px;
  opacity:0.5;
  rx:2;
  ry:2;
  pointer-events:fill;
  cursor: move;
}

.node:focus {
  fill: pink;
  stroke: red;
  stroke-width: 1;
}

.menuitem {
  font-size:10px;
}


.h2 {
  font: 75px 'Arial';
  color: $vin-blue;
}

.paper {
  margin: 20px;
}

