/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;
/*
* {
-webkit-transform: translatez(0);
-moz-transform: translatez(0);
-ms-transform: translatez(0);
-o-transform: translatez(0);
transform: translatez(0);
}
*/

/* Styles */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

//Window sizing
.app, .root {
  height:100%;
}

html {
  background: #E0E0E0; //MD
}

body {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  color: #4d4d4d;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

.svg {
  overflow: auto;
  touch-action: none;
}

line {
  pointer-events: none;
}

.ContentText {
  //font-size: 10px ;
  font-family: Roboto, sans-serif;
  pointer-events: none;
  touch-action: none;
}

.NonContentText {
  //font-size: 12px ;
  font-family: Roboto, sans-serif;
  pointer-events: none;
  font-weight: 500;
  text-anchor: middle;
  touch-action: none;
}

.node{
  stroke:black;
  stroke-width:1px;
  opacity:0.5;
  pointer-events:fill;
  cursor: move;
}

.node:focus {
  fill: pink;
  stroke: red;
  stroke-width: 1;
}

.menuItemRect {
  stroke:grey;
  stroke-width:0.25px;
  fill:white;
}

.h2 {
  font: 75px 'Arial';
  color: $vin-blue;
}

.paper {
  margin: 20px;
}

.menuDetails {
  //font-size: 10px ;
  font-family: Roboto, sans-serif;
  pointer-events: none;
  touch-action: none;
}


.menuItem {
  border:10px;
  box-sizing: border-box;
  display:block;
  font-family:Roboto, sans-serif;
  cursor: pointer;
  text-decoration:none;
  margin:0;
  padding: 16px 0px;
  outline:none;
  //font-size:15px; //15
  font-weight:100;
  color: #4c4c4c;
  //line-height:30px; //30
  //min-height:30px; //30
  white-space:nowrap;
  background:none;
  //text-anchor: middle;
  touch-action: none;
  pointer-events:none;
};

.paint{
  position:absolute;
  border: 3px solid blueviolet;
  fill: none;
  pointer-events: none;
  touch-action: none;
  opacity: .7;
}


/****  Spinner Code written by Zeeshan Ansari from CodePen  https://codepen.io/zeeshan_ansari/pen/gpwQvw on 22nd of May 2015   ****/
.qp-circular-loader {
  width: 64px; 
  height: 64px;
  stroke-width: 3px;
 }
 
 .qp-circular-loader-path {
  stroke-dasharray: 58.9;
  stroke-dashoffset: 58.9;
 }
 
 .qp-circular-loader,
 .qp-circular-loader * {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
 }

 @-webkit-keyframes rotate {
  from {
   -webkit-transform: rotate(0deg);
  }
  to {
   -webkit-transform: rotate(360deg);
  }
 }
 
 @keyframes rotate {
  from {
   transform: rotate(0deg);
  }
  to {
   transform: rotate(360deg);
  }
 }
 
 .qp-circular-loader {
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 1568.63ms;
  animation-duration: 1568.63ms;
  /* 360 * ARCTIME / (ARCSTARTROT + (360-ARCSIZE)) */
  
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
 }
 /* Filling and unfilling the arc */
 
 @-webkit-keyframes fillunfill {
  from {
   stroke-dashoffset: 58.8
  }
  50% {
   stroke-dashoffset: 0;
  }
  to {
   stroke-dashoffset: -58.4
  }
 }
 
 @keyframes fillunfill {
  from {
   stroke-dashoffset: 58.8
  }
  50% {
   stroke-dashoffset: 0;
  }
  to {
   stroke-dashoffset: -58.4
  }
 }
 
 @-webkit-keyframes rot {
  from {
   -webkit-transform: rotate(0deg);
  }
  to {
   -webkit-transform: rotate(-360deg);
  }
 }
 
 @keyframes rot {
  from {
   transform: rotate(0deg);
  }
  to {
   transform: rotate(-360deg);
  }
 }
 
 @-webkit-keyframes colors {
  0% {
   stroke: #754fa0;
  }
  20% {
   stroke: #09b7bf;
  }
  40% {
   stroke: #90d36b;
  }
  60% {
   stroke: #f2d40d;
  }
  80% {
   stroke: #fcb12b;
  }
  100% {
   stroke: #ed1b72;
  }
 }
 
 @keyframes colors {
  0% {
   stroke: #754fa0;
  }
  20% {
   stroke: #09b7bf;
  }
  40% {
   stroke: #90d36b;
  }
  60% {
   stroke: #f2d40d;
  }
  80% {
   stroke: #fcb12b;
  }
  100% {
   stroke: #ed1b72;
  }
 }
 
 .qp-circular-loader-path {
  -webkit-animation-name: fillunfill, rot, colors;
  animation-name: fillunfill, rot, colors;
  -webkit-animation-duration: 1333ms, 5332ms, 5332ms;
  animation-duration: 1333ms, 5332ms, 5332ms;
  
  -webkit-animation-iteration-count: infinite, infinite, infinite;
  animation-iteration-count: infinite, infinite, infinite;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1), steps(4), linear;
  animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1), steps(4), linear;
  -webkit-animation-play-state: running, running, running;
  animation-play-state: running, running, running;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
 }
 /**End of Third party spinner code ***/
