<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>Graph Visualiser</title>
  <link href="/styles/styles.scss" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
  <script src="magictouch.js"/>
</head>
<body>
  <div id="root" class="root"></div>
  <canvas id="canvas"></canvas>
  <object id="tuio" type="application/x-tuio" style="width: 0px; height: 0px;">
    Touch input plugin failed to load!
  </object>
</body>
</html>
